
<mat-card>
    <h1>Update Question To {{quiz_title}} </h1>


<form class="p-2" [formGroup]="updatequestion" (ngSubmit)=" updateQuestionSubmit()" >

    <mat-form-field appearance="outline" class="my-3">
        <mat-label>Enter Question Content</mat-label>
        <textarea required name="content" formControlName="content" [(ngModel)]="question.content" matInput rows="1"
        placeholder="Enter Question Content" ></textarea>
    </mat-form-field>
    
    <div class="row">
        <div class="col-6">
            <mat-form-field appearance="outline"  >
                <mat-label>Enter Option A</mat-label>
                   <input name="option1"  formControlName="option1" [(ngModel)]="question.option1" matInput placeholder="Enter Here" required>
           </mat-form-field>
        </div>
        
        <div class="col-6">
           <mat-form-field appearance="outline" >
            <mat-label>Enter Option B</mat-label>
                   <input name="option2" formControlName="option2" [(ngModel)]="question.option2" matInput placeholder="Enter Here" required>
            </mat-form-field>
        </div>
        
        <div class="col-6">

            <mat-form-field appearance="outline">
                <mat-label>Enter Option C</mat-label>
                <input name="option3" formControlName="option3" [(ngModel)]="question.option3" matInput placeholder="Enter Here" required>

           </mat-form-field>
        </div>
        
        <div class="col-6">
           <mat-form-field appearance="outline" >
            <mat-label>Enter Option D</mat-label>
            <input name="option4" formControlName="option4" [(ngModel)]="question.option4" matInput placeholder="Enter Here" required>
            </mat-form-field>
        </div>
        
    </div>
    
    <mat-form-field appearance="outline"   >
        <mat-label>Select Answer </mat-label>
        <mat-select required formControlName="answer" [(ngModel)]="question.answer" name="answer" >
            <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
            <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
            <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
            <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>

    
        </mat-select>
    </mat-form-field>

    <div class="text-center">
        <button type="submit"  mat-raised-button  color="primary">Update</button>
    </div>

    
</form>

</mat-card>



<!-- <mat-card>
    <h4>Enter The Details Of New question</h4>
        <form class="p-2" [formGroup]="updatequestion" (ngSubmit)="updateQuestion()">

            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Enter Question Content</mat-label>
                <textarea type="text" formControlName="content" matInput rows="1"></textarea>
            </mat-form-field>
            
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline" >
                        <mat-label>Enter Opstion A</mat-label>
                           <input type="text" formControlName="option1" matInput >
                   </mat-form-field>
                </div>
                
                <div class="col-6">
                   <mat-form-field appearance="outline">
                    <mat-label>Enter Opstion C</mat-label>
                       <input type="text" formControlName="option3" matInput>
                    </mat-form-field>
                </div>
                
                <div class="col-6">

                    <mat-form-field appearance="outline" >
                        <mat-label>Enter Opstion B</mat-label>
                           <input type="text" formControlName="option2" matInput >
                   </mat-form-field>
                </div>
                
                <div class="col-6">
                   <mat-form-field appearance="outline" >
                    <mat-label>Enter Opstion D</mat-label>
                       <input type="text" formControlName="option4" matInput >
                    </mat-form-field>
                </div>
                
            </div>
            
            <mat-form-field appearance="outline"  class="">
                <mat-label>Select Answer </mat-label>
                <mat-select formControlName="givenAnswer" >
                    <mat-option value="2">A</mat-option>
                    <mat-option value="3">B</mat-option>
                    <mat-option value="1">C</mat-option>
                    <mat-option value="4">D</mat-option>
            
                </mat-select>
            </mat-form-field>
            <div class="text-center">
                <button type="submit" mat-raised-button  color="primary">Update</button>
            </div>
        </form>
</mat-card> -->