
<mat-card class="mt-5">
    <h1>Update Category</h1>
    <mat-card-content>
        <div class="container">
            <div class="row justify-content-center" >
                <div class="col-8">  
                    <form class="row" [formGroup]="updatecategory" (ngSubmit)="updateCategory()">
                        <mat-form-field appearance="outline"> 
                            <mat-label> Category ID</mat-label>
                            <input type="text" matInput formControlName="category_id" name="category_id">
                        </mat-form-field>

                        <mat-form-field appearance="outline"> 
                            <mat-label> Category Title</mat-label>
                            <input type="text" matInput formControlName="title" name="title">
                        </mat-form-field>

                        <mat-form-field appearance="outline"> 
                            <mat-label> Category Description</mat-label>
                            <textarea type="text" matInput formControlName="description" name="description" rows="10"></textarea>
                        </mat-form-field>

                        <div class="text-center mt-2">
                            <button mat-raised-button color="primary"> Update Category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card> 

