<mat-card>
    <mat-action-list>
        <button mat-list-item>
            <mat-icon class="mx-3">home</mat-icon> Home
        </button>

        <button mat-list-item [routerLink]="'profile'">
            <mat-icon class="mx-3">account_circle</mat-icon> Profile
        </button>

        <button mat-list-item [routerLink]="'viewcategory'"> 
            <mat-icon class="mx-3">category</mat-icon> Category
        </button>

        <button mat-list-item [routerLink]="'addcategory'">
            <mat-icon class="mx-3">add_circle_outline</mat-icon> Add Category
        </button>

        <button mat-list-item [routerLink]="'viewquiz'">
            <mat-icon class="mx-3">quizzes</mat-icon> Quizzes
        </button>

        <button mat-list-item [routerLink]="'addquiz'">
            <mat-icon class="mx-3">add</mat-icon> Add Quizzes
        </button>

        <button mat-list-item>
            <mat-icon class="mx-3">logout</mat-icon> Logout
        </button>

    </mat-action-list>
</mat-card>